In [2]:
import pandas as pd 

df = pd.read_excel('AuthorxArticles.xlsx')
df

  Paper        Author
0   P01      {v1, v2}
1   P02          {v1}
2   P03  {v1, v2, v3}
3   P04      {v3, v4}
4   P05      {v3, v2}
5   P06  {v1, v2, v3}
6   P07  {v1, v2, v3}
7   P08      {v4, v5}
8   P09      {v5, v4}
9   P10  {v3, v2, v4}

In [103]:
list_author = []
for index, row in df.iterrows():
    tmp = row['Author']
    tmp = tmp.replace('{','')
    tmp = tmp.replace('}','')
    tmp = tmp.split(',')
    [list_author.append(author.strip()) for author in tmp if author not in list_author] # list comprehension

In [104]:
list_author

['v1',
 'v2',
 'v2',
 'v3',
 'v4',
 'v2',
 'v2',
 'v3',
 'v2',
 'v3',
 'v5',
 'v4',
 'v2',
 'v4']

In [49]:
# dict.fromkeys(list_author)

In [105]:
list_author = list(dict.fromkeys(list_author)) # remove the duplicates from the list of authors

In [106]:
list_author

['v1', 'v2', 'v3', 'v4', 'v5']

In [86]:
for author in list_author:
    print(author)

v1
v2
v3
v4
v5

In [88]:
list_tmp = list_author.copy()

In [78]:
list_tmp

['v1', 'v2', 'v3', 'v4', 'v5']

In [126]:
list_tmp.remove('v3')

In [175]:
list_tmp

['v1', 'v2', 'v4', 'v5']

In [176]:
len(list_author)

5

In [177]:
list_author

['v1', 'v2', 'v3', 'v4', 'v5']

In [192]:
tmp = df.loc[9,'Author']

In [193]:
tmp = tmp.replace('{','')
tmp = tmp.replace('}','')
tmp = tmp.split(',')
tmp = [author.strip() for author in tmp]
tmp

['v3', 'v2', 'v4']

In [194]:
tmp

['v3', 'v2', 'v4']

In [198]:
list_author.index(tmp[0])

2

In [199]:
list_author.index(tmp[1])

1

In [200]:
list_author.index(tmp[2])

3

In [190]:
tmp = []
for index, row in df.iterrows():
    tmp = row['Author']
    tmp = tmp.replace('{','')
    tmp = tmp.replace('}','')
    tmp = tmp.split(',')
    tmp = [author.strip() for author in tmp]
    print (tmp)

    for author in tmp:
        print(author)

['v1', 'v2']
v1
v2
['v1']
v1
['v1', 'v2', 'v3']
v1
v2
v3
['v3', 'v4']
v3
v4
['v3', 'v2']
v3
v2
['v1', 'v2', 'v3']
v1
v2
v3
['v1', 'v2', 'v3']
v1
v2
v3
['v4', 'v5']
v4
v5
['v5', 'v4']
v5
v4
['v3', 'v2', 'v4']
v3
v2
v4

In [205]:
tmp = []
for index, row in df.iterrows():
    tmp = row['Author']
    tmp = tmp.replace('{','')
    tmp = tmp.replace('}','')
    tmp = tmp.split(',')
    tmp = [author.strip() for author in tmp]
    print (tmp)

    for author in tmp:
        print(author)
        index_author_tmp = tmp.index(author)
        print(index_author_tmp)
        index_author_matrix = list_author.index(author)
        print(index_author_matrix)

['v1', 'v2']
v1
0
0
v2
1
1
['v1']
v1
0
0
['v1', 'v2', 'v3']
v1
0
0
v2
1
1
v3
2
2
['v3', 'v4']
v3
0
2
v4
1
3
['v3', 'v2']
v3
0
2
v2
1
1
['v1', 'v2', 'v3']
v1
0
0
v2
1
1
v3
2
2
['v1', 'v2', 'v3']
v1
0
0
v2
1
1
v3
2
2
['v4', 'v5']
v4
0
3
v5
1
4
['v5', 'v4']
v5
0
4
v4
1
3
['v3', 'v2', 'v4']
v3
0
2
v2
1
1
v4
2
3

In [4]:
import numpy as np

In [212]:
n = len(list_author)
V = np.zeros(shape=(n,n))

In [213]:
V

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [232]:
tmp = []
for index, row in df.iterrows():
    tmp = row['Author']
    tmp = tmp.replace('{','')
    tmp = tmp.replace('}','')
    tmp = tmp.split(',')
    tmp = [author.strip() for author in tmp]
    print (tmp)
    for author in tmp:
        tmp2 = tmp.remove(author)
        print(tmp2)

['v1', 'v2']
None
['v1']
None
['v1', 'v2', 'v3']
None
None
['v3', 'v4']
None
['v3', 'v2']
None
['v1', 'v2', 'v3']
None
None
['v1', 'v2', 'v3']
None
None
['v4', 'v5']
None
['v5', 'v4']
None
['v3', 'v2', 'v4']
None
None

In [244]:
tmp = []
for index, row in df.iterrows():
    tmp = row['Author']
    tmp = tmp.replace('{','')
    tmp = tmp.replace('}','')
    tmp = tmp.split(',')
    tmp = [author.strip() for author in tmp]
    print (tmp)
    for author, author2 in tmp:
        if "author" == "author 2":
            print (author2)
        else:
            print (author)

['v1', 'v2']
v
v
['v1']
v
['v1', 'v2', 'v3']
v
v
v
['v3', 'v4']
v
v
['v3', 'v2']
v
v
['v1', 'v2', 'v3']
v
v
v
['v1', 'v2', 'v3']
v
v
v
['v4', 'v5']
v
v
['v5', 'v4']
v
v
['v3', 'v2', 'v4']
v
v
v

In [248]:
tmp = []
for index, row in df.iterrows():
    tmp = row['Author']
    tmp = tmp.replace('{','')
    tmp = tmp.replace('}','')
    tmp = tmp.split(',')
    tmp = [author.strip() for author in tmp]
    print (tmp)
    for author in tmp:
        for author2 in tmp:
            if author == author2:
                print (author2)
            else:
                print (author)

['v1', 'v2']
v1
v1
v2
v2
['v1']
v1
['v1', 'v2', 'v3']
v1
v1
v1
v2
v2
v2
v3
v3
v3
['v3', 'v4']
v3
v3
v4
v4
['v3', 'v2']
v3
v3
v2
v2
['v1', 'v2', 'v3']
v1
v1
v1
v2
v2
v2
v3
v3
v3
['v1', 'v2', 'v3']
v1
v1
v1
v2
v2
v2
v3
v3
v3
['v4', 'v5']
v4
v4
v5
v5
['v5', 'v4']
v5
v5
v4
v4
['v3', 'v2', 'v4']
v3
v3
v3
v2
v2
v2
v4
v4
v4

In [230]:
tmp = []

n = len(list_author)
V = np.zeros(shape=(n,n))
V

for index, row in df.iterrows():
    tmp = row['Author']
    tmp = tmp.replace('{','')
    tmp = tmp.replace('}','')
    tmp = tmp.split(',')
    tmp = [author.strip() for author in tmp]
    print (tmp)
    


    for author in tmp:
        tmp = tmp.remove(author)
        for author2 in tmp:
            V[list_author.index(author),list_author.index(author2)] = V[list_author.index(author),list_author.index(author2)] + 1
            V[list_author.index(author2),list_author.index(author)] = V[list_author.index(author),list_author.index(author2)]
            V

['v1', 'v2']

TypeError: 'NoneType' object is not iterable

In [209]:
V[list_author.index(tmp[0].strip()),list_author.index(tmp[1].strip())] = V[list_author.index(tmp[0].strip()),list_author.index(tmp[1].strip())] + 1
V[list_author.index(tmp[1].strip()),list_author.index(tmp[0].strip())] = V[list_author.index(tmp[0].strip()),list_author.index(tmp[1].strip())]

In [210]:
V

array([[0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])