In [2]:
import pandas as pd 

df = pd.read_excel('AuthorxArticles.xlsx')
df

  Paper        Author
0   P01      {v1, v2}
1   P02          {v1}
2   P03  {v1, v2, v3}
3   P04      {v3, v4}
4   P05      {v3, v2}
5   P06  {v1, v2, v3}
6   P07  {v1, v2, v3}
7   P08      {v4, v5}
8   P09      {v5, v4}
9   P10  {v3, v2, v4}

In [103]:
list_author = []
for index, row in df.iterrows():
    tmp = row['Author']
    tmp = tmp.replace('{','')
    tmp = tmp.replace('}','')
    tmp = tmp.split(',')
    [list_author.append(author.strip()) for author in tmp if author not in list_author] # list comprehension

In [104]:
list_author

['v1',
 'v2',
 'v2',
 'v3',
 'v4',
 'v2',
 'v2',
 'v3',
 'v2',
 'v3',
 'v5',
 'v4',
 'v2',
 'v4']

In [49]:
# dict.fromkeys(list_author)

In [105]:
list_author = list(dict.fromkeys(list_author)) # remove the duplicates from the list of authors

In [106]:
list_author

['v1', 'v2', 'v3', 'v4', 'v5']

In [86]:
for author in list_author:
    print(author)

v1
v2
v3
v4
v5

In [88]:
list_tmp = list_author.copy()

In [78]:
list_tmp

['v1', 'v2', 'v3', 'v4', 'v5']

In [126]:
list_tmp.remove('v3')

In [127]:
list_tmp

['v1', 'v2', 'v4', 'v5']

In [113]:
len(list_author)

5

In [145]:
list_author

['v1', 'v2', 'v3', 'v4', 'v5']

In [151]:
tmp = df.loc[0,'Author']

In [152]:
tmp = tmp.replace('{','')
tmp = tmp.replace('}','')
tmp = tmp.split(',')

In [153]:
tmp

['v1', ' v2']

In [154]:
list_author.index(tmp[0].strip())

0

In [155]:
list_author.index(tmp[1].strip())

1

In [156]:
list_author.index(tmp[2].strip())

IndexError: list index out of range

In [170]:
tmp = []
for index, row in df.iterrows():
    tmp = row['Author']
    tmp = tmp.replace('{','')
    tmp = tmp.replace('}','')
    tmp = tmp.split(',')
    print (tmp)

    for author in tmp:
        print(author)

['v1', ' v2']
v1
 v2
['v1']
v1
['v1', ' v2', ' v3']
v1
 v2
 v3
['v3', ' v4']
v3
 v4
['v3', ' v2']
v3
 v2
['v1', ' v2', ' v3']
v1
 v2
 v3
['v1', ' v2', ' v3']
v1
 v2
 v3
['v4', ' v5']
v4
 v5
['v5', ' v4']
v5
 v4
['v3', ' v2', ' v4']
v3
 v2
 v4

In [4]:
import numpy as np

In [72]:
n = len(list_author)
V = np.zeros(shape=(n,n))

In [159]:
V

array([[0., 4., 0., 0., 0.],
       [4., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [160]:
V[list_author.index(tmp[0].strip()),list_author.index(tmp[1].strip())] = V[list_author.index(tmp[0].strip()),list_author.index(tmp[1].strip())] + 1
V[list_author.index(tmp[1].strip()),list_author.index(tmp[0].strip())] = V[list_author.index(tmp[0].strip()),list_author.index(tmp[1].strip())]

In [161]:
V

array([[0., 5., 0., 0., 0.],
       [5., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])